.hero {
    position: relative;
}

.hero-image-text {
    position: absolute;
    z-index: 99;
    color: #eeeeee;
    text-align: right;
    width: 55%;
    left: 29%;
}

.call-to-action {
    position: absolute;
    z-index: 99;
    top: 60%;
    left: 46.5%;
}

.text1 {
    text-align: center;
    padding-top: 10px;
}

.text2 {
    text-align: center;
}

.services {
    background-color: white;
    width: 100vw;
}

.services h2 {
    padding-top: 20px;
}

.services-items-container, .services-items-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
}

.sertificates {
    background-color: white;
}

.sertificates h2 {
    padding-top: 20px;
}

.sertificates-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.materialboxed {
    margin: 25px;
}