// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spinner {
    background-color: #1942ab;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
}

nav, footer {
    background-color: #1942ab!important;
}

.spinner-img {
    padding-top: 50%;
}

.navbar-logo {
    width: 50px;
    padding-top: 4px!important;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo {
    width: 100px;
}

.footer-wrap_socials img {
    width: 42%!important;
}
